@import url("https://fonts.googleapis.com/css?family=Nunito:400;600;900");

html {
  font-size: 62.5%;
}

:root {
  --color-primary: #7535fd;
  --color-body: #1c065a;
  --color-light: #00000080;
  --color-gray: #f0f2f6;
}
body {
  /* background: #e9e3ee; */
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: var(--color-body);
  font-size: 1.7rem;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.5rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
}
h6 {
  font-size: 1.3rem;
}

small {
  font-size: 0.9rem;
}

@media screen and (min-width: 800px) {
  h1 {
    margin-top: 0;
    font-size: 3.8rem;
  }

  h2 {
    font-size: 3.4rem;
  }

  h3 {
    font-size: 2.8rem;
  }

  h4 {
    font-size: 2.2rem;
  }
}

/* Animations */

@keyframes text-wobble {
  0% {
    opacity: 0;
    transform: translateY(115%);
  }
  30% {
    opacity: 1;
  }
  45% {
    opacity: 1;
    transform: translateY(-25%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-animate {
  display: inline-block;
}
.text-animate span {
  display: inline-block;
}

.text-wobble:hover span {
  animation: text-wobble 0.5s cubic-bezier(0.46, 0.4, 0.56, 0.87) forwards;
  animation-delay: calc(0.015s * var(--i));
}
.text-fadeUp {
  color: var(--color-body);
  border-radius: 10px;
  max-height: 200px;
  overflow: hidden;
}
.text-fadeUp span {
  opacity: 0;
  transform: translateY(300%);
}
.text-fadeUp:hover span {
  transform: translateY(0);
  opacity: 1;
  transition: transform calc(0.25s * var(--i)) cubic-bezier(0.25, 1, 0.5, 1),
    opacity 0.015s cubic-bezier(0.25, 1, 0.5, 1);
}
/* Group 5 (Get Started) Project CSS codes */
.started {
  margin: 60px 70px;
  background-color: #fff;
  padding: 60px 60px;
  border-radius: 20px;
}
.started h1 {
  font-size: 30.5px;
  font-weight: bolder;
  margin-bottom: -10px;
}
.started p {
  margin-bottom: 55px;
}
.container img {
  margin-left: 120px;
  margin-top: 45px;
}

.started .link-one {
  font-size: 18px;
  padding: 20px 40px 20px 75px;
  background-color: var(--color-primary);
  border-radius: 10px;
  color: #fff;
  border-radius: 10px;
  margin-right: 45px;
  text-decoration: none;
  transition: 0.3s;
}

.link-one:hover {
  background-color: #2a77bb;
  color: #fff;
}

.started .link-two {
  text-decoration: none;
  font-size: 18px;
  padding: 20px 40px 20px 75px;
  background-color: #fff;
  border-radius: 10px;
  color: var(--color-body);
  border: 1px solid var(--color-body);
  border-radius: 10px;
  transition: 0.5s;
}

.hr {
  border: 1px solid var(--color-gray);
  margin-top: 35px;
}

.link-array {
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 17px 80px 60px 100px;
  width: 83%;
  padding-top: 0px;
  gap: 35px;
}

#list-head {
  font-size: x-large;
  color: var(--color-body);
  font-weight: bolder;
  list-style-type: none;
}

.cols li a {
  padding-top: 0px;
  text-decoration: none;
  font-size: 17px;
  line-height: 40px;
  color: var(--color-body);
}

.cols li a:hover {
  color: #7535fd;
}

.cols ul li {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

footer {
  padding: 35px 140px;
  background-color: var(--color-body);
}

footer span {
  color: #fff;
  margin-right: 10px;
}
span.space a {
  color: #fff;
  text-decoration: none;
  position: relative;
}
.terms {
  display: inline;
  float: right;
}
.link a::before {
  border-bottom: 3px solid #999;
  position: absolute;
  right: 0;
  content: "";
  margin-top: 25px;
  width: 100%;
  transition: width 0.3s;
}

.link a:hover::before {
  width: 0%;
  left: 0;
  right: 100%;
}
.bi .bi-envelope {
  margin-right: 100px;
  padding: 0;
}

/* Ahmad */
.security {
  display: flex;
  color: var(--color-body);
  flex-direction: column;
  justify-content: center;
  width: fit-content;
}

.security_info {
  padding: 0px 5rem;
}

.security_info h1 {
  font-size: 25px;
  font-weight: 900;
}

.security_info p {
  font-size: 16px;
  width: 90vw;
}

.security_info img {
  width: 85vw;
  padding-bottom: 5rem;
}

.option_cards {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card_group1,
.card_group2,
.card_group3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.card {
  width: 60vw;
  padding: 15vw 15vw;
  margin: 1rem 0px;
  border-radius: 1rem;
  font-weight: 600;
  color: #fff;
}

.card h1 {
  font-size: 18px;
}

.card p {
  font-size: 16px;
  font-weight: 400;
}

.card_group1 .card:nth-child(1) {
  background: var(--color-primary);
}

.card_group1 .card:nth-child(2) {
  background: #aa6900;
}

/* Buttons */
.btn {
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  font-size: 1.3rem;
  outline: 0;
  padding: 1.5rem 2vw;
  white-space: nowrap;
}

.btn--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.btn--outline-light {
  background-color: transparent;
  border: 2px solid var(--color-gray);
  color: var(--color-secondary);
}
.btn--outline-light:hover {
  background-color: var(--color-primary);
  color: #fff;
  border: 2px solid var(--color-primary);
  transition: background-color 0.4s, border 0.4s;
}
.btn--outline-secondary {
  background-color: transparent;
  border: 1px solid var(--color-body);
  color: var(--color-secondary);
}
.btn--outline-secondary:hover {
  background-color: var(--color-body);
  color: #fff;
  transition: background-color 0.4s;
}

/* NavBar */
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
.nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 2.5rem;
}
.nav img {
  height: 30px;
  margin: 0;
}
.nav__list {
  width: 100%;
  margin: 0;
}
.nav__toggler {
  width: 30px;
  height: 30px;
  cursor: pointer;
  vertical-align: middle;
}

.nav__buttons {
  display: none;
}

.nav__item {
  padding: 0.5rem 2rem;
}
.nav__item > a {
  color: var(--color-secondary);
  transition: color 0.3s;
}
.nav__item > a:hover {
  color: var(--color-text);
}

@media screen and (max-width: 930px) {
  .nav.collapsible--expanded .nav__list {
    background-color: #7535fd;
    text-align: center;
    font-size: 4rem;
    margin-top: 2.5rem;
  }
}
@media screen and (min-width: 930px) {
  .collapsible__content {
    opacity: 1 !important;
    max-height: 100vh !important;
  }
  .nav__buttons {
    display: block;
  }
  .nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
  }
  .nav__toggler {
    display: none;
  }
  .nav__header-right {
    display: none;
  }
}

/* Collapsible */
.collapsible__content {
  opacity: 0;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.35s, opacity 0.35s ease-out;
}
.collapsible--expanded .collapsible__content {
  opacity: 1;
  max-height: 100vh;
}
.card_group1 .card:nth-child(3) {
  background: #137e79;
}

.card_group2 .card:nth-child(1) {
  background: #1c7c54;
}

.card_group2 .card:nth-child(2) {
  background: #831b82;
}

.card_group2 .card:nth-child(3) {
  background: #251ba2;
}

.card_group3 .card:nth-child(1) {
  background: #0055aa;
}

.card_group3 .card:nth-child(2) {
  background: #a2351b;
}

@media (min-width: 768px) {
  .pricevolatility_info {
    padding: 0 10rem;
  }
}

@media (min-width: 992px) {
  .pricevolatility {
    flex-direction: row;
    align-items: center;
    padding: 0;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10rem;
  }

  .pricevolatility img {
    flex: 1;
    width: 40%;
    padding: 5%;
  }

  .security {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5rem;
  }

  .security_info {
    padding: 0px 5rem;
  }

  .security_info p {
    width: 100%;
  }

  .security_info img {
    width: 250px;
  }

  .option_cards {
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
  }

  .card_group1,
  .card_group2,
  .card_group3 {
    margin-left: 2rem;
  }

  .card_group2 {
    margin-top: -10rem;
  }

  .card {
    width: 12rem;
    padding: 2rem 3rem;
  }

  .card p {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  .security_info img {
    width: 400px;
  }
  .card {
    padding: 3.5rem 4rem;
  }
}

/* Payment solution block*/
.body {
  background-color: #f0f2f6;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
article {
  margin-left: 10%;
}
.payment_solution {
  margin-left: 18cm;
  width: 13cm;
  height: 13cm;
  margin-top: -11cm;
  border-radius: 10px;
}
.paymentSolution a {
  color: grey;
  text-decoration: none;
}
.text-decoration a:hover {
  color: #7535fd;
}
.part_1 {
  padding-left: 8px;
}
