<div class="container">
  <div class="started">
    <h1><b>Ready to Get Started?</b></h1>
    <p>
      Create an account instantly and start accepting payments. You can also
      contact us to design a custom package for your <br />
      business.
    </p>
    <a href="#" class="link-one">Create Account</a>
    <a href="#" class="link-two">Contact sales</a>
  </div>
  <img
    src="./assets/images/fincra-website-logo-colored.png"
    alt="Logo"
    width="150px"
    height="45px"
  />
  <div class="hr"></div>
  <div class="link-array">
    <div class="cols">
      <ul>
        <li id="list-head">Products</li>
        <li><a href="#">Pay In</a></li>
        <li><a href="#">Agency Banking</a></li>
        <li><a href="#">APIs</a></li>
        <li><a href="#">Checkout</a></li>
        <li><a href="#">Virtual Accounts</a></li>
        <li><a href="#">POS Terminal</a></li>
        <li><a href="#">Conversions</a></li>
        <li><a href="#">Multicurrency</a></li>
        <li><a href="#">Identity Verification</a></li>
        <li><a href="#">Payment Links</a></li>
        <li><a href="#">Utility</a></li>
      </ul>
    </div>
    <div class="cols">
      <ul>
        <li id="list-head">Developers</li>
        <li><a href="#">API Docs</a></li>
        <li><a href="#">API Reference</a></li>
        <li><a href="#">API Changelog</a></li>
        <li><a href="#">Intergration Support</a></li>
      </ul>
    </div>
    <div class="cols">
      <ul>
        <li id="list-head">Uses Cases</li>
        <li><a href="#">Fintechs</a></li>
        <li><a href="#">Eccomerce</a></li>
        <li><a href="#">Logistics</a></li>
        <li><a href="#">Betting and Entertainment</a></li>
        <li><a href="#">Travel and Hospitality</a></li>
        <li><a href="#">Agency Banking</a></li>
        <li><a href="#">FMCG</a></li>
        <li><a href="#">Global Business</a></li>
        <li><a href="#">Retail</a></li>
      </ul>
    </div>
    <div class="cols">
      <ul>
        <li id="list-head">Resources</li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Help Center</a></li>
      </ul>
    </div>
    <div class="cols">
      <ul>
        <li id="list-head">Company</li>
        <li><a href="#">About</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="cols">
      <ul>
        <li id="list-head">Support</li>
        <li>
          <a href="#"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="#1c065a"
              class="bi bi-envelope"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"
              />
            </svg>
            support@fincra.com</a
          >
        </li>
        <li>
          <a href="#"><i class="bi bi-telephone"></i>+01 343 2000</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<footer>
  <span>&copy;2023 Fincra</span>
  <div class="terms">
    <span class="space link"><a href="#">Terms & Conditions</a></span
    ><span class="space link"><a href="#">Privacy Policy</a></span>
  </div>
</footer>
