<footer class="block block--gray footer">
    <div class="container grid grid--6x1 footer__sections">
      <section class="collapsible collapsible--expanded footer__section">
        <div class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">Products</h2>
        </div>
        <div class="collapsible__content">
          <ul class="list">
            <li><a href="#">Website Hosting</a></li>
            <li><a href="#">Free Automated Wordpress</a></li>
            <li><a href="#">Migrations</a></li>
          </ul>
        </div>
      </section>
      <section class="collapsible footer__section">
        <div class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">Company</h2>
        </div>
        <div class="collapsible__content">
          <ul class="list">
            <li><a href="#">About</a></li>
            <li><a href="#">Affiliates</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>
      </section>
      <section class="collapsible footer__section">
        <div class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">Support</h2>
        </div>
        <div class="collapsible__content">
          <ul class="list">
            <li><a href="#">Contact</a></li>
            <li><a href="#">Knowledge Base</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </div>
      </section>
      <section class="collapsible footer__section">
        <div class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">Domains</h2>
        </div>
        <div class="collapsible__content">
          <ul class="list">
            <li><a href="#">Domain Checker</a></li>
            <li><a href="#">Domain Transfer</a></li>
            <li><a href="#">Free Domain</a></li>
          </ul>
        </div>
      </section>
      <div class="footer__brand">
        <img src="images/logo.svg" alt="" />
        <p class="footer__copyright">Copyright 2022 Damilola Osunsanwo</p>
      </div>
    </div>
  </footer>
  <footer class="block block--gray footer">
    <div class="containerx grid grid--6x1 footer__sections">
      <section class="collapsible collapsible--expanded footer__section">
        <div class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">Products</h2>
        </div>
        <div class="collapsible__content">
          <ul class="list">
            <li><a href="#">Pay In</a></li>
            <li><a href="#">Pay Outs</a></li>
            <li><a href="#">Agency Banking</a></li>
          </ul>
        </div>
      </section>
      <section class="collapsible footer__section">
        <div class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">Developers</h2>
        </div>
        <div class="collapsible__content">
          <ul class="list">
            <li><a href="#">API Docs</a></li>
            <li><a href="#">API Reference</a></li>
            <li><a href="#">API Changelog</a></li>
          </ul>
        </div>
      </section>
      <section class="collapsible footer__section">
        <div class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">Use Cases</h2>
        </div>
        <div class="collapsible__content">
          <ul class="list">
            <li><a href="#">Fintechs</a></li>
            <li><a href="#">Ecommerce</a></li>
            <li><a href="#">Logistics</a></li>
          </ul>
        </div>
      </section>
      <section class="collapsible footer__section">
        <div class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">Resources</h2>
        </div>
        <div class="collapsible__content">
          <ul class="list">
            <li><a href="#">Blog</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Pricing</a></li>
          </ul>
        </div>
      </section>
      <section class="collapsible footer__section">
        <div class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">Company</h2>
        </div>
        <div class="collapsible__content">
          <ul class="list">
            <li><a href="#">About</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Support</a></li>
          </ul>
        </div>
      </section>
      <section class="collapsible footer__section">
        <div class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">Support</h2>
        </div>
        <div class="collapsible__content">
          <ul class="list">
            <li><a href="#"> support@dd.com </a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Pricing</a></li>
          </ul>
        </div>
      </section>
    </div>
  </footer>
