<nav class="nav collapsible">
  <img src="./assets/images/fincra-website-logo-colored.png" alt="" />
  <div class="nav__header-right">
    <button class="btn btn--outline-light">
      <span style="--i: 0">L</span>
      <span style="--i: 1">o</span>
      <span style="--i: 2">g</span>
      <span style="--i: 3">i</span>
      <span style="--i: 4">n</span>
    </button>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 20 20"
      fill="currentColor"
      class="nav__toggler"
      id="nav__toggler"
    >
      <path
        fill-rule="evenodd"
        d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10zm0 5.25a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75a.75.75 0 01-.75-.75z"
        clip-rule="evenodd"
      />
    </svg>
  </div>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a class="link" href="#">Products</a></li>
    <li class="nav__item"><a class="link" href="#">Usecase</a></li>
    <li class="nav__item"><a class="link" href="#">Developers</a></li>
    <li class="nav__item"><a class="link" href="#">Company</a></li>
    <li class="nav__item"><a class="link" href="#">Support</a></li>
    <li class="nav__item"></li>
  </ul>
  <div class="nav__buttons">
    <button class="btn btn--outline-light">
      <span style="--i: 0">L</span>
      <span style="--i: 1">o</span>
      <span style="--i: 2">g</span>
      <span style="--i: 3">i</span>
      <span style="--i: 4">n</span>
    </button>
    <button class="btn btn--primary text-animate text-wobble">
      <span style="--i: 0">C</span>
      <span style="--i: 1">r</span>
      <span style="--i: 2">e</span>
      <span style="--i: 3">a</span>
      <span style="--i: 4">t</span>
      <span style="--i: 5">e</span>
      <span style="--i: 6"> </span>
      <span style="--i: 7">A</span>
      <span style="--i: 8">c</span>
      <span style="--i: 9">c</span>
      <span style="--i: 10">o</span>
      <span style="--i: 13">u</span>
      <span style="--i: 13">n</span>
      <span style="--i: 13">t</span>
    </button>
  </div>
</nav>
