<h1>The complete payment solution</h1>
    <p class="content">Fincra helps businesses across Africa with solutions-via merchant <br>dashboard, APIs and white labelling- to send and receive money <br>locally, internationally, online and offline. </p>
    <h4>Pay-In</h4>
    <p class="part_1">For quick and seamless payment collection via cards, bank <br>
       transfers etc., from individuals or businesses in the UK, EU, <br>
        US, Nigeria and other African countries.</p>
        <h4 class="hi"><a href="">Pay-Out</a></h4>
        <h4 class="hi"><a href="">Agency Banking</a></h4>
        <h4 class="hi"><a href="">Pos Terminal</a></h4>
        <h4 class="hi"><a href="">Utilities</a></h4>
      
    <img class="payment_solution" src="./assets/images/fincra-services.png" alt="">         
