<h1 class="text-animate text-fadeUp">
  <span style="--i: 0"> Receive </span>
  <span style="--i: 1"> </span>
  <span style="--i: 2"> payments </span>
  <span style="--i: 3"> </span>
  <span style="--i: 4">in</span>
  <span style="--i: 5"> </span>
  <span style="--i: 6">your</span>
  <span style="--i: 7"> </span>
  <span style="--i: 8">customers&apos;</span>
  <span style="--i: 9"> </span>
  <span style="--i: 10">preferred</span>
  <span style="--i: 11"> </span>
  <span style="--i: 12">currency</span>
</h1>
